<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation Suite">
    <test name="Functional Tests" preserve-order="true" thread-count="10">
        <classes>
            <class name="com.runner.CucumberRunnerTests"/>
            
        </classes>
    </test>
</suite>